@{
    ViewBag.Title = "About";
}
<h2>Sobre a MKT Fantasy:</h2>

<p>O movimento numa loja de aluguel de fantasias atualmente é constante, mesmo fora de temporadas, como carnaval ou dia das bruxas. 
    A demanda se impulsiona por eventos cada vez mais populares como o Halloween outras festividades. O aumento do número de festividades 
    cujo tema é fantasias. Por isso, para montar uma loja de aluguel de fantasias é necessário ter em mente que os consumidores procuram 
    as lojas para ilimitados fins, portanto é necessário um estoque variado de produtos.</p>
