@{
    ViewBag.Title = "About";
}
<h2>Nossa Missão</h2>

<p>Trazer saúde aos nossos “melhores amigos” que são a nossa razão de viver.
Fazer por merecer vossa confiança quando tantas vezes nos entregam, com braços trêmulos, seus animais doentes para que, em nossas mãos, possam ser curados.
Nem todos os nossos sonhos de criança puderam ser realizados, mas ter a honra de cuidar do teu amiguinho é a nossa maior benção!!!</p>
