@{
    ViewBag.Title = "Contact";
}
<h2>Fale Conosco</h2>

<address>
    MKTFantasy<br />
    Rua Jose Augusto, 1702    98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:marywronka@ulbra.edu.br">marywronka@ulbra.edu.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:kayohenrique@ulbra.edu.br">kayohenrique@ulbra.edu.br</a>
</address>