@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MKTFantasy.NET</h1>
    <p class="lead">Bem-vindo ao site da MKT Fantasias!!! xD</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Links úteis</h2>
        <p>
            <h4>
                @Html.ActionLink("Ver Fantasias", "../Fantasias/Index")<br /><br />
                @Html.ActionLink("Ver Exemplares", "../Exemplares/Index")<br /><br />
                @Html.ActionLink("Ver Clientes", "../Clientes/Index")<br /><br />
            </h4>
        </p>
    </div>
</div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <h2>Fale Conosco</h2>
            <address>
                MKTFantasy<br />
                Rua Jose Augusto, 1702    98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:marywronka@ulbra.edu.br">marywronka@ulbra.edu.br</a><br />
                <strong>Marketing:</strong> <a href="mailto:kayohenrique@ulbra.edu.br">kayohenrique@ulbra.edu.br</a>
            </address>
        </div>

        <div class="col-md-4">
            <h2>Sobre nossa Empresa</h2>
            <p align="justify">
                O movimento numa loja de aluguel de fantasias atualmente é constante, mesmo fora de temporadas, como carnaval ou dia das bruxas. A demanda se impulsiona por eventos cada vez mais populares como o Halloween outras festividades.
                O aumento do número de festividades cujo tema é fantasias. Por isso, para montar uma loja de aluguel de fantasias é necessário ter em mente que os consumidores procuram as lojas para ilimitados fins, portanto é necessário um estoque variado de produtos.
            </p>
        </div>
    </div>
